/* ## Site Header
--------------------------------------------- */

.site-header {}


/* ## Title Area
--------------------------------------------- */

.title-area {
	margin: 0;
	position: relative;
	height: 100%;
	display: block;
	padding: 0.618em 0;
	max-width: 18rem;
	@include transition;
	@include breakpoint(md) {
		padding: 1.382em 0;
		max-width: 24rem;
	}
	@include breakpoint(lg) {
		padding: 1.618em 0;
		max-width: 24rem;
	}
	.fixed-header .shrink & {
		padding: 0.382em 0;
	}
}

.site-title {
	font-size: 2.4rem;
	font-family: $font-heading;
	font-weight: $bold;
	line-height: 1;
	margin-bottom: 0;
	@include breakpoint(md) {
		font-size: 3rem;
	}
	a {
		color: $dark;
		text-decoration: none;
	}
}

.site-description {
	font-size: 1.4rem;
	margin-bottom: 0;
	line-height: 1;
	@include breakpoint(md) {
		text-align: left;
		font-size: 1.6rem;
		line-height: 1.382;
	}
}

.site-header .wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	.title-area {
		flex: 1 0 auto;
	}
}



/* ## Header Right
--------------------------------------------- */

.header-widget-area {
	.widget {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}


/* ## Page Header
--------------------------------------------- */

.page-header {
	width: 100%;
	margin: 0 auto;
	padding: 2vw 0;
	@include breakpoint(md) {
		padding: 3rem 0;
	}
	h1 {
		width: 100%;
		margin-bottom: 0;
	}
	p {
		width: 100%;
		margin: 1em 0 0;
	}
	.widget {
		background: transparent;
	}
}
