/* ## Menus
--------------------------------------------- */

.genesis-nav-menu {
	line-height: 1;
	width: 100%;
	z-index: 2;
}

.genesis-nav-menu .menu-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.genesis-nav-menu a {
	color: $dark;
	display: block;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 400;
	outline-offset: -1px;
	padding-bottom: 12px;
	padding-top: 12px;
	text-decoration: none;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item>a,
.genesis-nav-menu .sub-menu .current-menu-item>a:focus,
.genesis-nav-menu .sub-menu .current-menu-item>a:hover {
	color: $action;
	text-decoration: none;
}

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
	width: 90%;
}

.genesis-nav-menu .sub-menu {
	display: none;
	padding-left: 15px;
}

.genesis-nav-menu .sub-menu a {
	background: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	position: relative;
	word-wrap: break-word;
}

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
	position: relative;
}

.genesis-nav-menu .menu-item:hover>.sub-menu {
	left: auto;
	opacity: 1;
}

.menu,
.sub-menu {
	margin-left: 0;
}

/* Responsive Menu
--------------------------------------------- */

.menu .menu-item>a:focus+ul.sub-menu,
.menu .menu-item.sfHover>ul.sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-responsive-menu {
	display: none;
	padding-bottom: 15px;
}

.menu-toggle,
.sub-menu-toggle {
	background-color: transparent;
	border-width: 0;
	color: $dark;
	display: block;
	margin: 0;
	overflow: hidden;
	text-align: center;
	visibility: visible;
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background-color: transparent;
	border-width: 0;
	color: $action;
}

.menu-toggle {
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px 0;
	display: flex;
	align-items: center;
}

.menu-toggle.activated::before {
	content: "\f406";
	font-family: 'IonIcons';
	font-size: 24px;
}

.site-header .menu-toggle::before {
	margin-right: 5px;
}

.sub-menu-toggle {
	padding: 9px 10px;
}

.sub-menu .sub-menu-toggle {
	padding: 12px 10px;
}

.sub-menu-toggle::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-transform: rotate( 0);
	-ms-transform: rotate( 0);
	transform: rotate( 0);
	transition: transform .25s ease-in-out;
}

.sub-menu-toggle.activated::before {
	-webkit-transform: rotate( 180deg);
	-ms-transform: rotate( 180deg);
	transform: rotate( 180deg);
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	width: 100%;
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin-top: 10px;
}

.nav-secondary .genesis-nav-menu {
	line-height: 1.5;
}

.nav-secondary .menu-item {
	display: inline-block;
}

.nav-secondary a {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

@include breakpoint(sm) {
	.genesis-nav-menu .menu-item {
		display: inline-block;
	}

	.genesis-nav-menu .menu-item:focus,
	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-nav-menu>.menu-bold>a {
		font-weight: 700;
	}

	.genesis-nav-menu>.menu-highlight>a {
		background: none;
		border: 1px solid $action;
		border-radius: 3px;
		color: $action;
		font-weight: 700;
		margin-left: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.genesis-nav-menu>.menu-highlight>a:hover,
	.genesis-nav-menu>.menu-highlight>a:focus {
		background-color: $action;
		color: white;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu a {
		width: 18rem;
	}

	.genesis-nav-menu .sub-menu {
		border: 0;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
		opacity: 0;
		padding-left: 0;
		position: absolute;
		transition: all .2s ease-out;
		border-radius: 5px;
	}

	.genesis-nav-menu .sub-menu a {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: -36px 0 0 178px;
	}

	/* Responsive Menu
	--------------------------------------------- */
	.genesis-responsive-menu {
		display: block;
		padding-top: 15px;
	}

	.menu-toggle,
	.sub-menu-toggle {
		display: none;
		visibility: hidden;
	}

	/* Header Menu
	--------------------------------------------- */
	.nav-primary {
		width: auto;
	}

	.nav-primary .genesis-nav-menu a {
		padding-left: 15px;
		padding-right: 15px;
	}


}
